#restart-button {
    position: fixed;
    bottom: -40%;
    left: 50%;
    transform: translateX(-50%);
    padding: 20px 50px;
    font-size: 24px;
    color: white;
    background-color: #007bff; /* A bright blue color */
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  #restart-button:hover {
    background-color: #0056b3; /* A darker blue for hover effect */
  }
  
  #restart-button:active {
    background-color: #004494; /* Even darker blue for active state */
    transform: translateX(-50%) scale(0.95);
  }
  

  body { margin: 0; overflow: hidden; }
    canvas { display: block; }
    #game-over {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 48px;
      color: red;
      display: none;
    }